name: ci
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
permissions: {}
defaults:
  run:
    shell: bash -euo pipefail {0}
jobs:
  build:
    runs-on: macos-26
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.0.1.app
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7  # v5.0.2
        with:
          path: |
            ~/Library/Caches/org.swift.swiftpm
            ~/Library/org.swift.swiftpm
            ~/.swiftpm
            .build
          key: ${{ runner.os }}-swiftpm-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-swiftpm-
      - run: echo "SWIFT=$(xcrun -f swift)" >> "$GITHUB_ENV"
      - run: |
          "$SWIFT" --version
      - run: |
          "$SWIFT" build --sdk "$(xcrun --sdk iphoneos --show-sdk-path)" --triple arm64-apple-ios
  lint:
    runs-on: ubuntu-24.04-arm
    container: swift:6.2
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: swift format lint -rsp .
  yamllint:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: yamllint --version
      - run: yamllint --strict --config-file .yamllint.yml .
